<form action="/add" method="post">
  <label for="title">Task: </label>
  <input type="text" name="title" id="title" placeholder="Task Name" />
  <label for="description">Description: </label>
  <textarea
    name="description"
    id="description"
    placeholder="Task Description"
  ></textarea>
  <input type="submit" value="Add" />
</form>